*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.top-container{
    /* background-color: #bedcfa; */
    background-color: #e4f9f5;
    /* height: 100vh; */
    position: relative;
}

/* .firstcloud{
    position: absolute;
    top : 70px;
    left: 180px;
    transition-duration: 0.5s;
    
}

.firstcloud:hover{
    transform: scale(2);

}

.secondcloud{
    position: absolute;
    bottom: 70px;
    right: 90px;
    transition: 0.5s;
}

.secondcloud:hover{
    transform: scale(2);
} */

.firstcloud{
    position: absolute;
    top : 30px;
    left: 350px;
    transform: scale(1.5);
}

.secondcloud{
    position: absolute;
    top : 230px;
    right: 350px;
    transform: scale(1.5);
}


.text{
    padding: 100px 20px 30px 20px;
    /* margin : 20px; */
    color: #66BFBF;
    line-height: 1.5;
}




.cursive{
    font-family: 'Sacramento', cursive;
    font-size: 90px;
}
.tagline{
    /* font-size: 2.5em; */
}

.skill{
    color:  #11999e;
    margin: 20px;

}

.mountain{
    height: 500px;
}

.contact{
    display: inline-block;
}

.heading{
    margin : 30px auto 10px auto;
    color:  #11999e;
}
.skill-sec{
    width:50%;
    margin: 120px auto 120px auto;
    line-height: 1.5;
}

/* .skilltxt{
    text-align: left;
} */

.skill-img{
    width: 25%;
    float:left;
    margin: 0 30px ;
    
}
/* .skill-txt-description{
    clear : left;
} */

.profile-pic{
    margin : 30px auto 10px auto;
}

.profile-description{
    margin: 10px auto 30px auto;
}

.border{
    border-color :  #EAF6F6;
    border-style: dotted;
    border-width: 15px;
    width: 10%;
    border-radius: 0;
    border-bottom: #EAF6F6;
    margin: 0 auto 10px auto;
}

.meet-description{
    margin: 10px auto 10px auto;
}

.meet{
    margin : 0px auto 20px auto;
}

.footer{
    background-color: #66BFBF;
    padding: 40px;
    margin: 50px 0 0 0 ;
}

.copyrights{
    color : #EAF6F6;
    font-size: 15px;
}
a{
    text-decoration: none;
}
.contact{
    color: #11999e;
    text-decoration: none;
    padding: 20px 20px 30px 0;
}

.contactbtn{
    margin: 50px auto 10px auto;
    background-color: #11999e;
    width: 12%;
    padding : 10px 0 10px 0;
    color: #EAF6F6;
    border-radius: 8px;
}
    
