*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    background-color: paleturquoise;
}

.top{
    height: 50%;
    width: 90%%;
    /* background-color: aquamarine; */
    margin: 10px;
}

.top-bg{
    position: absolute;
    left : -70px;
}
