.heading {
  font-family: "Great Vibes";
  text-align: center;
  font-size: 50px;
  color: cadetblue;
  margin: 0 auto;
}

.colorbox {
  height: 100px;
  margin: 10px auto;
  width: 30%;
}
.s1 {
  background-color: #e3fdfd;
}

.s2 {
  background-color: #cbf1f5;
}

.s3 {
  background-color: #a6e3e9;
}

.s4 {
  background-color: #71c9ce;
}
