*{
	margin : 0;
	padding : 0;
	box-sizing: border-box;
}

.container{
	height: 100vh;
	width: 100%;
	background-color: lightcoral;
	background-image: linear-gradient( 111.5deg,  rgba(228,247,255,1) 21.9%, rgba(255,216,194,1) 92.2% );
	font-family: 'Sacramento', cursive;
	color:darkslateblue;

}


