*{
	margin : 0;
	padding : 0;
	box-sizing: border-box;
}

.container{
	height: 100vh;
	width: 100%;
	background-color: lightcoral;
	background-image: linear-gradient( 111.5deg,  rgba(228,247,255,1) 21.9%, rgba(255,216,194,1) 92.2% );
	font-family: 'Sacramento', cursive;
	color:darkslateblue;

}

section{
	width: 100%;
	height: 100vh;
}


/* 
.snowflake-1{
	width: 100px;
} */

/* .snowflake-2{
	width: 70px;
} */

section .set{
	position: absolute;
	width: 100%;
	height: 100%;
	top : 0;
	left : 0;
	pointer-events: none;
}

section .set div{
	position: absolute;
	display: block;
}

section .set div:nth-child(1)
{
	left : 20%;
	animation: animate 15% linear infinte;
}

@keyframes animate{
	0%{
		opacity: 0;
		top: -10%;
		transform: translate(20px) rotate(0deg);
	}

	10%{
		opacity: 1;
	}

	20%{
		transform: translateX(-20px) rotate(45deg);
	}

	40%{
		transform: translateX(-20px) rotate(90deg);
	}
	60%{
		transform: translateX(20px) rotate(180deg);
	}

	80%{
		transform: translateX(-20px) rotate(180deg);
	}

	100%{
		top:110% ;
		transform: translateX(-20px) rotate(225deg);
	}
}