*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	height:100vh;
	width: 100%;
	color: aliceblue;
}

.background{
	background-color: lightcoral;
	background-image: url("../assets/images/Background.jpg");
	height: 100%;
}

.header{
	/* background-color: lightpink; */
	height: 50px;
}

.center-text{
	font-family: 'Permanent Marker', cursive;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	padding-top: 30px;
}

li{
	float: left;
	/* background-color:lightgrey; */
	display: inline;
	padding-right: 40px;
	font-size: 18px;
}

.menu{
	margin: 0 0 0 20px;
}

.menu-icon{
	height: 20px;
}

.search{
	margin: 0 20px 0 0;
}

.search-icon{
	height: 20px;
}

.center{
	/* background-color: lightskyblue; */
	display: flex;
	align-items: center;
	height: 50%;
	margin-top: 100px;
}

.center-text{
	margin: 0 auto;
	/* background-color: lightpink; */
	font-size: 70px;
	transform: rotate(-3deg)

}