@media (max-width : 699px)
{
	.container{
		width: 100%;
		height: 100vh;
		background: #3494E6;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		background-size: cover;
		background-position: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.left-text{
		background-color: aquamarine;
	}

	.left{
		background-color: lightpink;
		width: 90%;
		font-size: 20px;
	}
}