*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.container{
	height: 100vh;
	width: 100%;
	background-image: linear-gradient( 106.4deg,  rgba(255,104,192,1) 11.1%, rgba(104,84,249,1) 81.3% );
	background-color: lightcoral;
	display: flex;
	align-items: center;
}

label{
	color: white;
}

.left{
	/* background-color: lightgoldenrodyellow; */
	height: 90%;
	width: 50%;
	margin: 80px 20px 10px 50px;
	padding: 100px 0px;
	color: white;
}

.left-text{
	height: 90%;
	width: 90%;
	margin: 10px auto;
	/* background-color: lightcoral; */
	font-size: 60px;
	/* line-height: 2; */
}


.right{
	height: 80%;
	width: 53%;
	/* background-color: lightblue; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.right-text{
	height: 60%;
	width: 90%;
	margin: 2px;
	/* background-color: lightsalmon; */
	
}

.first-line{
	display: flex;
	justify-content: center;
	margin: 0 0 20px 0;
	/* background-color: lightgreen; */
}

input{
	background-color: transparent;
	border: 0;
	border-bottom: 1px white solid;
	padding : 15px 0 0 0;
	width: 200px;
	color: lightgray;
}

.name{
	display: flex;
	flex-direction: column;
	width: 35%;
	/* margin: 10px 5px ; */
}

.name label{
	font-size: 18px;
	margin: 0px;
}

.username{
	display: flex;
	flex-direction: column;
	width: 35%;
	/* margin: 10px 5px ; */
}

.username label{
	font-size: 18px;
}

.second-line{
	/* background-color: lightseagreen; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 2px 0px 0px 100px;
}

.second-line input{
	width: 448px;
}

.third-line{
	/* background-color: lightpink; */
	margin:20px 0 0 100px;
	display: flex;
	flex-direction: column;

}

.third-line input{
	width: 448px;
}

.submit-button{
	margin: 30px 0px 0px 95px;
	background-color: transparent;
	padding: 15px 50px;
	border-radius: 10px;
	border: 2px solid white;
	color: white;
}