*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Piazzolla', serif;
}

.container{
	height: 100vh;
	width: 100%;
	background-color: #7cc4cc;
	color: aliceblue;
}

.navbar{
	width: 100%;
	height: 100px;
	/* background-color: lightcoral; */
	/* display: inline; */
	display: flex;
	/* visibility: hidden; */
	
}

.left-nav-bar{
	height: 100%;
	width: 40%;
	float: right;
	display: flex;
	align-items:center;
	/* background-color: lightblue; */
	justify-content: space-evenly;
	/* padding : 0 80px; */
	padding-left: 50px;
	margin-left: 50px;
	flex : 3;
}

.left-nav-bar li{
	
	/* margin-right: 100px; */
	margin-right: 100px;

}

li{
	display: inline;
	font-size: 20px;
	/* background-color: lightcoral;
	padding: 50px 0; */
	
}

.logo>img{
	/* background-color: lightgreen; */
	/* 	 */
	/* display: inline; */
	transform: scale(0.75);
	
}

.logo{
	position: absolute;
	left: 600px;
	top: 0px;
	flex: 0.25;
	margin: 0;
	height: 100px;
	display: flex;
	/* background-color: lightcoral; */
	align-items: center;
}




.right-nav-bar{
	float: right;
	display: flex;
	/* background-color: lightslategray; */
	width: 40%;
	height: 100%;
	align-items: center;
	margin-left: 150px;
	flex: 3;
}

.right-nav-bar li{

	margin-right: 100px;

}

li:hover{
	text-decoration: underline;
}

hr{
	color: white;
	width: 80%;
	margin: 10px auto;
	/* visibility: hidden; */
}

.bottom{
	margin-top: 120px;
	display: flex;
}

.left{
	padding: 30px 0px 30px 30px;
	margin-left: 100px;
}

.right{
	text-align: right;
	margin: 80px 150px 0 0;
	/* visibility: hidden;
	animation: right-animation 1s timing-function delay iteration-count direction fill-mode; */
}

.txt{
	font-size: 30px;
	line-height: 1.5;
}

.button{
	margin-top: 70px;
	background-color: #293946;
	float: right;
	width: 200px;
	padding: 20px;
	transition-duration: 200ms;
}

.button>p{
	text-align: center;
}

.button:hover{
	/* transform: rotateY(180deg); */
	color: #000;
	border: 1px solid #293946;
	background-color: #7cc4cc;
}

